# .env.example
# Ce fichier sert d'exemple. Ne mettez pas vos vraies valeurs ici !
# Copiez-collez ces variables dans l'onglet "Variables" de votre projet Railway.

# Désactiver le mode de débogage en production
DEBUG=False

# La clé secrète de Django (Générez une longue chaîne aléatoire)
SECRET_KEY=votre_cle_secrete_ultra_longue_et_aleatoire

# Les domaines autorisés (Mettez le domaine que Railway vous donne, sans http:// ni le slash final)
# Exemple: alignement-sacre-production.up.railway.app
ALLOWED_HOSTS=votre-domaine.up.railway.app

# (La variable DATABASE_URL sera ajoutée automatiquement par Railway quand vous ajouterez le plugin PostgreSQL)
